.toolspanelIcon {
		width: 24px;
		height: 24px;
		left: 8px;
		top: 8px;
		margin: 5px;
	}
	#menuPanel {
		
        /*background-color: #231F20;*/
        background-image: linear-gradient(white, black 20%);
		width: 100%;
		/*height: 45px;*/
		display: block;
		/*padding: 5px;*/
	}

		#menuPanel .menuBtn {
			/*margin-right: 5px;*/
			display: inline-block;
			background-color: transparent;
			border: none;
			padding: 0;
			border-radius: 0;
		}

		#menuPanel .systemBtn {
			/*margin-right: 5px;*/
			background-color: #ff0000;
			display: inline-block;
			border: none;
			padding: 0;
			border-radius: 0;
		}


		#menuPanel .menuBtn img {
			max-height: 32px;
		}

		#menuPanel .menuBtn:hover {
			background-color: gray;
			top: 1px;
			margin-bottom: 1px;
		}

		#menuPanel .menuBtn.active {
			background-color: #efefef;
			padding: 0 10px;
			top: 1px;
			margin-bottom: 1px;
		}
	#LeftPanel {
		background-color: #efefef;
		position: absolute;
		top: 85px;
		bottom: 0px;
		left: 0;
		min-width: 0.2%;
		width: 25%;
		overflow: auto;
	}

	#RightPanel {
		position: absolute;
		top: 85px;
		bottom: 0;
		left: 25.2% /* 200 + 5*/;
		right: 0;
		color: #FFF;
	}

	.tab-pane.active {
		height: 100%;
		overflow-y: auto;
	}

	.tooltip {
		position: relative;
		display: inline-block;
		border-bottom: 1px dotted black;
		opacity: 100;
	}

	.tooltip .tooltiptext {
		visibility: hidden;
		width: 120px;
		background-color: black;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		/* Position the tooltip */
		position: absolute;
		top: 32px;
		left: 0;
		z-index: 9999;
	}

	.tooltip:hover .tooltiptext {
		visibility: visible;
	}

	tr.ng-scope.k-state-selected {
		background-color: #428bca !important;
	}

	.change-background {
		background-color: red;
	}

	
	#sidebar-resizer {
		background-color: #efefef;
		position: absolute;
		top: 85px;
		bottom: 0;
		left: 25%;
		width: 0.2%;
		cursor: e-resize;
	}

		#sidebar-resizer:hover, #preview-resizer:hover {
			background-color: #AAA;
		}

	
	.imgsize {
		height: 18px;
		width: 18px;
		padding: 2px;
		margin: 0px;
	}
	.btn {
		padding: 0px;
		color: #336699;
		background-color: transparent;
		border: 0px;
		border-radius: 0;
	}

	/*Tooltip*/
.tooltipelement {
    position: relative;
    display: inline-block;
}

    .tooltipelement .tooltiptext {
        visibility: hidden;
        width: 80px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1999;
        top: 100%;
        left: 50%;
        margin-left: -40px;
    }

        .tooltipelement .tooltiptext::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent black transparent;
        }

    .tooltipelement:hover .tooltiptext {
        visibility: visible;
    }
	.sizeIcon {
    width: 20px;
    height: 20px;
    left: 4px;
    top: 2px;
	/*
    position: absolute;*/
}
	