<div ng-controller="SupplierCtrl" style="padding:10px; height:100%" ng-cloak>
	Suppliers

    //I am located here: 

    //I have the following items to donate 


    //Find Drp off location


    //Result, Here is the list of places you can drop it off.  Or (schedule someone to pick it up)


</div>
