<style>
    .numberStyle { width: 60px; }
</style>
<div ng-controller="SupplierCtrl" style="padding:10px; height:100%" ng-cloak>
    <div class="form-inline" style="padding-top: 10px">
        <label>We are (a group or organization name)</label>
		<br />
        <input class="form-control" style="width:100%" type="text" id="organizationID" ng-model="search.name" placeholder="Name of person or organization" />
    </div>	
	<div class="form-inline" style="padding-top: 10px">
		<label>I am located at</label>
		<br />
		<input class="form-control" style="width:100%" type="text" id="searchLocationID" ng-model="search.locationString" placeholder="Enter Location, Address, or Postal Code" />
		<input type="search" value="currentLocation" ng-show="" />
		@*<input type="text" name="location" id="ls-location" data-bhw="LocationBarField" autocomplete="off" spellcheck="false"
				   maxlength="50" aria-labelledby="placeholderLocation" aria-autocomplete="list"
				   aria-haspopup="true" aria-owns="autocomplete-list" role="combobox" data-bhw-path="Header|SearchBar|LocationBarField">
			<div class="typeahead-response typeahead-location" id="ls-search-results" aria-hidden="false"
				 aria-live="polite" data-bh-viewport="ignore" data-bhw="LocationSearchBarAutoComplete"
				 style="display: block;" data-bhw-path="Header|SearchBar|LocationSearchBarAutoComplete">
				<ul id="autocomplete-list" role="list" data-bhw="Geolocation">
					<li role="listitem" class="tw-current">
						<a class="current-location tw-highlight icon-compass-needle tw-link" tabindex="0" data-value="Current Location" data-bhw="geolocation">Current Location</a>
					</li>
					<li role="roleitem" class="tw-scrollContainer-wrapper">
						<ul id="tw-scrollContainer"></ul>
					</li>
				</ul>
			</div>*@
	</div>

	<div class="form-inline" style="padding-top:10px;">
		<button ng-click="currentLocation()">Testing Place</button>
	</div>

    <div class="form-inline"  style="padding-top: 10px" ng-show="!finishSearch">
        <label>I have the following(s) to donate</label>
        <br />
		<table style="width:100%; border: 1px solid black">
			<tr>
				<th style="width: 20%">
					&nbsp;
				</th>
				<th style="width: 40%">Goods</th>
				<th style="width: 40%">No. of Item(s)</th>
			</tr>
			<tr>
				<td><input type="checkbox" name="chkFood" ng-model="search.items[0].check"/></td>
				<td><span ng-model="search.items[0].product" ng-init="search.items[0].productType = 'Food (lbs)'">Food (lbs)</span></td>
				<td><input type="number" class="numberStyle" value="1" ng-model="search.items[0].amount"/></td>
			</tr>
			<tr>
				<td><input type="checkbox" name="chkWater" ng-model="search.items[1].check" /></td>
				<td><span ng-model="search.items[1].product" ng-init="search.items[1].productType='Water (casses)'" >Water (casses)</span></td>
				<td><input type="number" class="numberStyle" ng-model="search.items[1].amount" /></td>
			</tr>
			<tr>
				<td><input type="checkbox" name="chkBlankets"  ng-model="search.items[2].check" /></td>
				<td><span ng-model="search.items[2].product" ng-init="search.items[2].productType = 'Blankets (ea.)'" >Blankets (ea.)</span></td>
				<td><input type="number" class="numberStyle" ng-model="search.items[2].amount"  /></td>
			</tr>
		</table>
    </div>
	<div class="form-inline"  style="padding-top: 10px">
		<button id="searchID" ng-click="searchLocation(search)">Search</button>
		<button id="searchID" ng-click="clearSearch(search)">Clear</button>
	</div>

	<div class="form-inline" ng-show="finishSearch">
		<br />
		<span><strong>Place that you can drop it of.</strong></span>
		<br/>
		<br />
		<div class="row supplierDIV" style="border: 1px solid">
			<span class="col-sm-8"><strong>{{suppliers.name}}    Location({{suppliers.x}}, {{suppliers.y}})</strong>
				<img src="~/Content/images/direction.png" ng-click="getDirection(suppliers)" title="Get Direction"/>
			</span>
			<img class="col-sm-4" src="~/Content/images/donationplace_01.jpg"/>
		</div>
		
		@*<span style="padding-left:15px"><strong>List of places you can drop it of</strong></span>
		<table class="table" show-filter="true" style="width: inherit; margin-bottom: 20px; margin-left: 10px; margin-right: 10px;">
			<tr ng-repeat="x in suppliers track by $index">
				<td title="Name">{{ x.name }}</td>				
			</tr>
		</table>*@
	</div>
</div>
