<div ng-controller="UserCtrl" style="padding:10px; height:100%" ng-cloak>
	User

    //Name 

    //I am located here

    //I Need the following items 

    //Button

    //The following items can be picked up now 

</div>

