<div ng-controller="UserCtrl" style="padding:10px; height:100%" ng-cloak>
	<div class="row">
		<label class="col-sm-4">Location: </label>
		<input class="form-control col-sm-8" style="width:inherit" type="text" id="searchLocationID" ng-model="searchLocationValue" placeholder="lon,lat" />
	</div>
	<button id="searchID" ng-click="searchLocation(searchLocationValue)">Search</button>
    @*//Name 

    //I am located here

    //I Need the following items 

    //Button

    //The following items can be picked up now*@ 

</div>

